<h1>{{title}}</h1><br>

<form *ngIf="modcat">

  <div class="card card-outline-info  mb-3">
    <div class="card-block">
      {{namecat}}
      <button type="button" class="btn btn-danger btn-sm float-right" (click)="dellcat(idcat)">Supprimer</button>
    </div>
  </div>

  <form class="form-inline" [formGroup]="putcatForm">
    <input type="text" value={{namecat}} class="form-control mb-5 mr-sm-2 mb-sm-0" id="exampleInputEmail1" formControlName="putcategory">
    <button type="submit" class="btn btn-default"  (click)="putcat(idcat)">Sauver</button>
  </form>
</form>

<p class="error" *ngIf="msgerror">{{msgerror}}</p>

<div class="card card-outline-info  mb-3"  *ngFor = "let cat of categories" [hidden] = "hidden">
  <div class="card-block">
    {{cat.nom}}
    <button type="button" class="btn btn-info btn-sm float-right" (click)="modifcat(cat)">Modifier</button>
  </div>
</div>
